#root { min-width: 100vw; }

#layout {
  max-width: 100vw;
  min-height: 100dvh;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-rows: auto 8fr auto;
}

#layout .header { grid-row-start: 1; }
#layout .main {
  display: flex;
    align-items: center;
    justify-content: center;
  grid-row-start: 2;
  height: 100%;
  width: 100%;
}
#layout .footer { grid-row-start: 3; }