header {
  background-color: var(--primary-color);
  padding: 1rem;
}

header .container-layout { max-width: var(--site-max-width-wide);}

.header {
  display: flex;
    justify-content: space-between;
}

.header .nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header .link {
  color: #aaa;
  text-decoration: none;
  font-weight: 500;
}

.header .activeLink {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.header .separator {
  color: #555;
}
