.header {
  background-color: #222;
  padding: 1rem;
  color: white;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link {
  color: #aaa;
  text-decoration: none;
  font-weight: 500;
}

.activeLink {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.separator {
  color: #555;
}
