@import url('./variables.css');
@import url('./buttons.css');

a {
  font-weight: 500;
  color: var(--highlight);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover);
}

body {
  display: flex;
  font-family: var(--font-family);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}