:root {
  --input-padding: 4px;
  --input-radius: 8px;
}

.container-layout { max-width: var(--site-max-width-thin); }

.form {
  padding: 2rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

.form form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.form h1 {
  text-align: center;
  margin-bottom: var(--spacing);
  font-size: 1.8rem;
  color: var(--highlight);
}

.form input[type="text"],
.form input[type="password"] {
  background-color: var(--primary-color);
  padding: var(--input-padding);
  border: 3px solid var(--highlight);
  border-radius: var(--input-radius);
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-color: var(--hover);
  outline: none;
}

.form input[type="submit"] {
  place-self: center;
  width: 120px;
}

.form .error {
  color: var(--danger-color);
  text-align: center;
  font-weight: bold;
}
